Makefile
abi/
art/
bionic/
bootable/
build/
cts/
dalvik/
developers/
development/
device/
docs/
external/
frameworks/
hardware/
installNxpNfc.sh
libcore/
libnativehelper/
ndk/
out/
packages/
pdk/
platform_testing/
prebuilts/
sdk/
system/
tools/
kernel_log.txt
mw_log.txt
